<h1>About Ruby on Rails on Babble</h1>

<p>This is a sample Rails application running on 10gen's Babble app server
and uses the Mongo object-oriented database.</p>

<p>See the <%= link_to 'Help', :action => 'help' %>
page for step-by-step instructions on how to make your Rails app work on
Babble.</p>
